.about {
  min-height: calc(100vh - 67.2px);
  display: flex;
  /* flex-direction: row-reverse; */

  /* background-color: var(--color-black-1); */
  position: relative;
  /* background: rgb(255, 166, 133);

  background: linear-gradient(
    90deg,
    hsla(16, 100%, 76%, 1) 0%,
    hsla(49, 100%, 81%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(16, 100%, 76%, 1) 0%,
    hsla(49, 100%, 81%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(16, 100%, 76%, 1) 0%,
    hsla(49, 100%, 81%, 1) 100%
  ); */
}
.aboutleft,
.aboutright {
  width: 50%;
  min-width: 50%;
}

.aboutright {
  /* background-color: var(--color-orange); */
  color: #e7e7e7;
  width: 100%;
  background-color: #f3f3f3;
}
.aboutleft {
  height: calc(100vh - 67.2px);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 67.1px;
  z-index: 1;
  background-color: #f3f3f3;
}
.aboutImg {
  max-height: 200px;
  width: auto;
  height: 100%;
  /* border: 0.23rem solid black; */
  border-radius: 2rem;
  overflow: hidden;
}

.aboutleftH4 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 1rem;
  margin-inline: auto;
}
.aboutleftH4::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.3rem;
  margin-inline: auto;
}
.aboutleftsubp {
  font-size: 1.2rem;
  opacity: 0.7;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 11px 25px;
  border-radius: 100px;
  background: var(--color-orange-deep);
  border: 1px solid transparent;
  display: flex;
  align-items: space-between;
  font-size: 15px;
  margin-top: 2rem;
  margin-inline: auto;
  /* width: 8.8rem; */
}

.button:hover {
  background: var(--color-orange-deep);
}

.icon {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

.point1,
.point2,
.point3 {
  height: calc(100vh - 67.2px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 2rem;
}
/* Latest Tech Point 1 */
.point1Svg {
  height: 250px;
}
.point2Svg {
  height: 250px;
}

.point3Svg {
  height: 250px;
}
.point1H4 {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 10px 0;
  color: var(--color-orange-deep);
}
.point1P {
  font-size: 1.1rem;
  max-width: 80%;
  text-align: center;
  line-height: 25px;
  color: rgb(100, 94, 85);
}

/* Problem Point 2 */
.point2 {
  flex-direction: row;
  gap: 20px;
}

/* Media Queries */

@media screen and (min-width: 1000px) {
}

@media screen and (max-width: 1000px) {
  .aboutleft {
    width: 40%;
  }
  .aboutright {
    width: 60%;
  }
  .aboutleftp {
    font-size: 2.6rem;
  }
  .aboutleftsubp {
    font-size: 1rem;
  }
}

@media screen and (max-width: 810px) {
  .button {
    display: none;
  }
  .about {
    flex-direction: column;
  }
  .aboutleft,
  .aboutright {
    width: 100%;
  }
  .aboutleft {
    height: 30vh;
    padding-block: 1rem;
  }
  .point1,
  .point2,
  .point3 {
    height: calc(70vh - 67.2px);
    top: calc(67.2px + 30vh);
  }
  .aboutleftH4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .aboutleftp {
    font-size: 2.3rem;
  }
  .aboutleftsubp {
    font-size: 0.9rem;
  }
  .aboutleft {
    gap: 8px;
  }
  .point1H4 {
    font-size: 1.3rem;
  }
  .point1P {
    font-size: 0.9rem;
    opacity: 0.8;
    max-width: 330px;
  }
  .point2 {
    flex-direction: column;
  }
  .point1Svg,
  .point2Svg,
  .point3Svg {
    height: 200px;
  }
}
