.menu {
  transition: all 0.3s ease;
  position: relative;
}
.active {
  border-bottom: 2px solid var(--color-orange-deep);
}

@media (hover: hover) {
  .menu:hover {
    color: var(--color-orange-deep);
    font-size: 0.9rem;
  }
}

.menu:active::after {
  transform: scaleX(1);
  transform-origin: left;
}
