.teams {
  margin-top: 3rem;
}

.h2 {
  font-size: 2rem;
  text-align: center;
}
.h2::after {
  content: "";
  text-align: center;
  margin-inline: auto;
  width: 7rem;
  height: 0.2rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.2rem;
}

.teamSubHeader {
  font-size: 1.2rem;
  text-align: center;
  opacity: 0.8;
  margin-block: 1rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.team {
  display: flex;
  width: 70%;
  max-width: 940px;
  margin-inline: auto;
  margin-block: 4rem;
  max-height: 265px;
  overflow: hidden;
  align-items: center;
  gap: 2rem;
  border-radius: 10px;
  box-shadow: 2px 5px 22px rgba(31, 31, 31, 0.1);

  /* transition: 0.4s ease; */
}
/* .team:hover {
  translate: 0 -6px;
} */

.teamLeft {
  flex-basis: 30%;
  height: 100%;
  max-width: 250px;
  overflow: hidden;
}

.teamRight {
  flex-basis: 70%;
  padding: 1rem 2rem 1rem 0rem;
}

.staffImg {
  min-height: 280px;
  object-fit: cover;

  width: 100%;
}

.staffName {
  font-size: 1.5rem;
  margin-block: 0.5rem;
  color: rgb(17, 17, 17);
}

.staffPos {
  font-size: 1.1rem;
  opacity: 0.7;
  font-weight: 600;
}

.staffDesc {
  font-size: 1rem;
  text-align: justify;
  color: var(--color-text-darkgrey);
}

.staffLinks {
  display: flex;
  gap: 1.3rem;
  color: rgb(99, 98, 98);
  margin-top: 1rem;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.youtube,
.gmail {
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  color: rgb(99, 98, 98);
  font-size: 1.4rem;
}

.facebook:active {
  color: #1877f2;
}

.instagram:active {
  color: #e1306c;
}
.twitter:active {
  color: #1da1f2;
}
.linkedin:active {
  color: #0077b5;
}

.gmail:active {
  color: #c71610;
}

@media (hover: hover) {
  .gmail:hover {
    color: #c71610;
  }

  .facebook:hover {
    color: #1877f2;
  }

  .instagram:hover {
    color: #e1306c;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .linkedin:hover {
    color: #0077b5;
  }

  .youtube:hover {
    color: #ff0000;
  }
}

@media screen and (max-width: 1000px) {
  .team {
    width: 85%;
    margin-inline: auto;
    margin-block: 4rem;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .team {
    display: flex;
    flex-direction: column;
    width: 92%;
    margin-inline: auto;
    margin-block: 4rem;
    max-height: 100%;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
  }

  .teamLeft {
    min-width: 100%;
    max-height: 350px;
  }

  .staffImg {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 380px;
  }

  .teamRight {
    flex-basis: 65%;
    padding: 0rem;
    margin: 0.8rem 1rem 2rem;
  }
}
