.servicesContainner {
  text-align: center;
  margin-block: 5rem;
}

.titleP {
  font-size: 1.1rem;
  color: var(--color-orange-deep);
}

.titleH2 {
  font-size: 2.25rem;
  font-weight: 500;
}

.titleH2::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.servicePara {
  margin-block: 2rem;
  margin-inline: auto;
  font-size: 1.1rem;
  max-width: 71vw;
  text-align: center;
  line-height: 25px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem 2rem;
  margin-block: 5rem 2rem;
}

.service {
  padding: 12px;
  width: 350px;
  min-height: 380px;
  border-radius: 14px;
  background: #f0f0f0;
  /* box-shadow: 5px 5px 6px #dadada, -5px -5px 6px #f6f6f6; */
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.199);
  transition: 0.4s;
}

.service:hover {
  translate: 0 -10px;
}

.serviceTitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #2e54a7;
  margin-inline: 0.8rem;
  margin-block: 1.5rem 1rem;
}

.serviceImg {
  max-height: 200px;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color: #c9c9c9;
  border-radius: 8px;
  box-shadow: inset 8px 8px 10px #c3c3c3, inset -8px -8px 10px #cfcfcf;
}

.serviceDesc {
  margin-inline: 0.8rem;
  margin-block: 1rem 1.5rem;
  color: rgb(22, 22, 22);
  font-size: 0.98rem;
  line-height: 1.3rem;
}
