.clientsTitle {
  text-align: center;
  margin-block: 2rem 3rem;
  font-size: 2.25rem;
}
.clientsTitle::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.clients {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-block: 2rem 3rem;
}

.client {
  flex-basis: 30%;
  width: 200px;
  height: 130px;
  padding: 0.7rem;
  border: 2px rgb(218, 218, 218) solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.clientText {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-text-darkgrey);
}

@media screen and (max-width: 500px) {
  .clientsTitle {
    text-align: center;
    margin-block: 2rem 3rem;
    font-size: 2rem;
  }

  .clients {
    gap: 1rem;
    margin-block: 1rem 3rem;
  }

  .client {
    min-width: 300px;
    max-height: 90px;
  }
  .clientText {
    font-size: 1rem;
  }
}
