.featureCard {
  max-width: 20rem;
  min-width: 20rem;
  padding: 7rem 2rem 4rem;
  border-radius: 0.6rem;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.cardImg {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  background-color: #fdd97fc0;
  font-size: 4rem;
  display: grid;
  place-items: center;
  margin-top: -11rem;
}

.cardPara h4 {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.cardPara p {
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.5rem;
}

@media screen and (max-width: 1020px) {
  .featureCard {
    flex-basis: 33.33%;
  }
}

@media screen and (max-width: 580px) {
  .featureCard {
    flex-basis: 100%;
    max-width: 95%;
  }
}
