.contactTitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-block: 2rem 2.5rem;
  text-align: center;
}
.contactTitle::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.contact {
  margin-block: 3rem;
}

/* Quick Contact */

.quickTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.quickContact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  margin-block: 2rem;
}

.quickContainner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  background-color: rgb(240, 239, 239);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: 0.4s ease;
  min-width: 320px;
  color: var(--color-text-darkgrey);
  border-radius: 7px;
  margin-block: 0.8rem 3rem;
}
.quickContainner:hover {
  translate: 0 -6px;
}

.QCicon {
  font-size: 2rem;
}

.companyName {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.mapTitle {
  font-size: 1.8rem;
  font-weight: 500;
  margin-block: 2rem;
  text-align: center;
}
.map {
  height: 450px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.39);
}
