.projectWrapper {
  /* height: 70vh; */
  margin-block: 3rem 5rem;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.h4 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 3rem;
  margin-inline: auto;
  text-align: center;
}
.h4::after {
  content: "";
  width: 11rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.projects {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}

.project {
  background-color: rgb(233, 233, 233);
  padding: 10px;
  border-radius: 0.6rem;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.199);
  color: var(--color-text-darkgrey);
  transition: 0.4s ease;
  max-width: 24rem;
  min-width: 24rem;
  margin-block: 1.2rem;
}
.project:hover {
  translate: 0 -6px;
}

.projectImg {
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 6px;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.desc {
  margin: 1rem 0.5rem 1.5rem;
}

.subText {
  display: flex;
  gap: 0.5rem;
  margin-block: 0.2rem;
  font-size: 0.8rem;
}

.subTextContainner {
  display: flex;
  gap: 0.5rem;
}

.hr {
  width: 100%;
  border: none;
  border-top: 1px solid #000000;
  opacity: 0.6;
  margin-block: 0.5rem;
}

.projectType {
  opacity: 0.9;
  font-size: 0.95rem;
}

.projectName {
  margin-block: 0.2rem 0.5rem;
  font-size: 1.2rem;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 13px 26px;
  border-radius: 100px;
  background: var(--color-orange);
  border: 1px solid transparent;
  display: flex;
  align-items: space-between;
  font-size: 15px;
  margin-top: 2rem;
  margin-inline: auto;
  width: 8.8rem;
}

.button:hover {
  background: var(--color-orange-deep);
}

.icon {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  transition: transform 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 500px) {
  .h4 {
    font-size: 2rem;
  }
  .project {
    max-width: 100%;
    min-width: 100%;
  }
  .projectImg {
    height: 200px;
  }
  .subText {
    gap: 0.5rem;
    margin-block: 0.2rem;
    flex-direction: column;
    font-size: 14px;
  }
}
