.tag {
  height: 45vh;
  /* background-color: #f59720; */
  background: rgb(223, 109, 43);
  background: linear-gradient(
    90deg,
    rgba(223, 109, 43, 1) 0%,
    rgba(245, 151, 32, 1) 81%,
    rgba(223, 165, 1, 1) 100%
  );
  display: grid;
  place-content: center;
  outline: 1px solid rgba(255, 255, 255, 0.541);
  outline-offset: -0.7rem;
}

.tagH4 {
  text-align: center;
  margin-inline: auto;
  font-size: 2rem;
  font-weight: 400;
  color: rgba(240, 240, 240, 0.925);
  margin-block: 1rem;
}

.tagP {
  text-align: center;
  margin-inline: 2rem;
  color: rgba(240, 240, 240, 0.959);
  font-size: 1rem;
  margin-block: 1rem 2rem;
}

.contactBtn {
  /* margin: 0 20px; */
  padding: 11px 24px;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  background-color: white;
  color: black;
  transition: all 0.2s ease-in-out;
  position: relative;
  width: 8rem;
  margin-inline: auto;
}

.contactBtn::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-white);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 30px;
  transition: transform 0.2s ease-in-out;
}

@media (hover: hover) {
  .contactBtn:hover {
    transform: scale(0.9);
  }
  .contactBtn:hover::after {
    transform: translate(-50%, -50%) scale(1);
    padding: 4px;
  }
  .contactBtn:active {
    background-color: var(--color-orange-deep);
    color: white;
  }
}

.contactBtn:active {
  transform: scale(0.9);
}

.contactBtn:active::after {
  transform: translate(-50%, -50%) scale(1);
  padding: 4px;
}

@media screen and (max-width: 885px) {
  .contactBtn {
    margin-top: 25px;
    font-size: 1.2rem;
  }
}
