/* .projects {
  margin-block: 2rem;
}

.projects::after {
  content: "";
  width: 70%;
  height: 0.07rem;
  background-color: var(--color-black-2);
  display: block;
  margin-top: 0rem;
  margin-inline: auto;
} */
.heading {
  text-align: center;
  margin-block: 3rem 4rem;
}
.titleP {
  font-size: 1.1rem;
  color: var(--color-orange-deep);
}

.titleH2 {
  font-size: 2.25rem;
  font-weight: 500;
}

.titleH2::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.servicePara {
  margin-block: 2rem;
  margin-inline: auto;
  font-size: 1.1rem;
  max-width: 71vw;
  text-align: center;
  line-height: 25px;
}

.project {
  max-width: 65%;
  margin-inline: auto;
  gap: 3rem;
  margin-block: 5rem;
  height: auto;
  background-color: rgb(238, 238, 238);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.199);
  color: var(--color-text-darkgrey);
}

.projectImg {
  height: 450px;
  overflow: hidden;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectDetail {
  flex-basis: 60%;
  padding-inline: 2rem;
  margin-block: 1rem 3rem;
}

.subText {
  display: flex;
  gap: 1.5rem;
  margin-block: 0.2rem;
}

.subTextContainner {
  display: flex;
  gap: 0.5rem;
}

.hr {
  width: 100%;
  height: 0.1rem;
  margin-block: 0.8rem 1rem;
}

.projectType {
  font-size: 1.02rem;

  margin-block: 0.5rem;
  font-weight: 600;
}

.projectName {
  font-size: 2rem;
  margin-block: 0.5rem;
  color: rgba(27, 27, 27, 0.938);
}

.projectDesc {
  font-size: 1.05rem;
  text-align: justify;
  line-height: 24px;
  margin-block: 0.5rem 1rem;
}

.projectPoint {
  font-size: 1.05rem;
  list-style-type: circle;
  font-size: 1rem;
  margin-block: 0.4rem;
}

@media screen and (max-width: 1000px) {
  .project {
    max-width: 80%;
  }
}

@media screen and (max-width: 720px) {
  .project {
    max-width: 90%;
  }
  .projectName {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 500px) {
  .titleH2 {
    font-size: 2rem;
  }
  .servicePara {
    margin-block: 2rem;
    margin-inline: auto;
    font-size: 1.1rem;
    max-width: 90vw;
    text-align: center;
    line-height: 25px;
  }
  .project {
    max-width: 95%;
  }
  .projectImg {
    height: 280px;
    overflow: hidden;
  }
  .projectDetail {
    padding-inline: 1rem;
    margin-block: 1rem 2rem;
  }
  .projectDesc {
    font-size: 1rem;
    line-height: normal;
  }
  .subText {
    gap: 0.5rem;
    margin-block: 0.2rem;
    flex-direction: column;
    font-size: 14px;
  }
}
