/* .projects {
  margin-block: 2rem;
}

.projects::after {
  content: "";
  width: 70%;
  height: 0.07rem;
  background-color: var(--color-black-2);
  display: block;
  margin-top: 0rem;
  margin-inline: auto;
} */

.projectRow {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  margin-inline: auto;
  gap: 3rem;
  margin-block: 5rem;
  height: 320px;
  background-color: rgb(238, 238, 238);
  border-radius: 0.8rem;
  overflow: hidden;
}
.projectRowReverse {
  display: flex;
  flex-direction: row-reverse;
  max-width: 80%;
  margin-inline: auto;
  gap: 3rem;
  margin-block: 5rem;
  height: 320px;
}

.projectImg {
  flex-basis: 40%;
}
.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.projectDetail {
  flex-basis: 60%;
  margin-block: auto;
  padding-inline: 2rem;
}

.projectType {
  font-size: 1.02rem;
  color: #645f5f;
  margin-block: 0.5rem;
  font-weight: 600;
}

.projectName {
  font-size: 2.1rem;
  margin-block: 0.5rem;
  color: rgba(27, 27, 27, 0.938);
}

.projectDesc {
  font-size: 1.15rem;
  color: #414141;
  margin-block: 0.5rem 1.5rem;
}

.projectPoint {
  color: #645f5f;
  margin: 0.3rem 0rem;
  list-style-type: circle;
  font-size: 1.15rem;
}
