.footer {
  color: var(--color-grey);
}

.topFooterWrapper {
  background-color: rgb(12, 12, 12);
  padding-block: 3rem 2rem;
}

.topFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: row;
}

.topLeft,
.topRight {
  text-align: left;
}

.topLeft {
  flex-basis: 35%;
}

.ngLogo {
  font-size: 2.5rem;
}

.logo {
  max-height: 6rem;
  height: 100%;
  width: auto;
  filter: invert(1);
}

.topPara {
  margin-top: 1rem;
  word-spacing: 2px;
  max-width: 34.5rem;
  opacity: 0.5;
  line-height: 1.4;
}

.topRight {
  flex-basis: 65%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.topRight1 {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 4rem;
}
.topRight1:nth-child(1) {
  flex-basis: 40%;
}
.topRight1:nth-child(2) {
  flex-basis: 60%;
  max-width: 220px;
}

.topRight2 {
  flex-basis: 40%;
}

.h4 {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  opacity: 0.8;
}

.linksList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.linksList a {
  font-size: 0.98rem;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}

.followUs {
  margin-block: 1rem 1rem;
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
}
.linkFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.4rem;
  color: #ffffff;
  opacity: 0.5;
}
.icon {
  font-size: 1.1rem;
  min-width: 25px;
}

.bottomFooter {
  /* display: flex;
  justify-content: space-between;*/
  padding-block: 1.2rem;
  text-align: center;
  background-color: black;
  color: #4b4b4ba1;
}

.facebook,
.twitter,
.instagram,
.linkedin,
.youtube,
.footerLink {
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
  color: rgb(121, 121, 121);
}

.facebook:active {
  color: #1877f2;
}

.instagram:active {
  color: #e1306c;
}
.twitter:active {
  color: #1da1f2;
}
.linkedin:active {
  color: #0077b5;
}

.youtube:active {
  color: #ff0000;
}

.linksList a:active {
  color: var(--color-orange-deep);
  opacity: 1;
}

@media (hover: hover) {
  .footerLink:hover {
    color: var(--color-orange-deep);
  }

  .facebook:hover {
    color: #1877f2;
  }

  .instagram:hover {
    color: #e1306c;
  }
  .twitter:hover {
    color: #1da1f2;
  }
  .linkedin:hover {
    color: #0077b5;
  }

  .youtube:hover {
    color: #ff0000;
  }

  .linksList a:is(:hover, :active) {
    color: var(--color-orange-deep);
    opacity: 1;
  }
}

@media screen and (max-width: 1030px) {
  .topFooter {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
  .topLeft {
    text-align: center;
    margin-bottom: 1rem;
  }

  .logo {
    margin-inline: auto;
  }
  .topRight {
    width: 92%;
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .topRight1 {
    flex-basis: 55%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    gap: 3rem;
  }
  .topRight1:nth-child(1) {
    flex-basis: 35%;
  }
  .topRight1:nth-child(2) {
    flex-basis: 55%;
  }

  .topRight2 {
    flex-basis: 45%;
  }
}

@media screen and (max-width: 650px) {
  .topRight {
    width: 92%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .topRight1 {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .topRight1:nth-child(1) {
    flex-basis: 60%;
  }
  .topRight1:nth-child(2) {
    flex-basis: 60%;
  }

  .topRight2 {
    flex-basis: 50%;
  }

  .followUs {
    margin-left: 2rem;
  }
}

@media screen and (max-width: 470px) {
  .topRight {
    width: 100%;
    display: flex;
    align-content: space-evenly;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2rem;
  }
  .topRight1 {
    max-width: 92%;
    padding-inline: 0.5rem;
    gap: 2rem;
    margin-inline: auto;
  }
  .topRight1:nth-child(1) {
    flex-basis: 40%;
  }
  .topRight1:nth-child(2) {
    flex-basis: 60%;
  }
  .topRight2 {
    max-width: 92%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 410px) {
  .topRight1 {
    max-width: 92%;
    padding-inline: 0.5rem;
    gap: 1.2rem;
    margin-inline: auto;
  }
  .topRight1:nth-child(1) {
    flex-basis: 35%;
  }
  .topRight1:nth-child(2) {
    flex-basis: 65%;
    max-width: 180px;
  }
  .topRight2 {
    max-width: 92%;
    margin-inline: auto;
  }
}
