.h2 {
  margin-inline: auto;
  margin-block: 2rem;
  font-size: 2.5rem;
}

.h2::after {
  content: "";
  width: 6rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.blogs {
  display: flex;
  gap: 3rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-block: 2rem;
}

.blog {
  max-width: 500px;
  /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05); */
  box-shadow: 2px 5px 22px rgba(0, 0, 0, 0.199);
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.blogText {
  color: var(--color-text-darkgrey);
  margin: 1.2rem;
}

.subText {
  display: flex;
  gap: 1.5rem;
}

.subTextContainner {
  display: flex;
  gap: 0.5rem;
}

.hr {
  width: 100%;
  height: 0.1rem;
  margin-block: 0.8rem 1rem;
}

.name {
  font-size: 1.4rem;
  margin-block: 0.4rem 0.6rem;
}

.desc {
  font-weight: normal;
  font-size: 16px;
}

.button {
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 10px 20px;
  border-radius: 100px;
  background: var(--color-orange);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-block: 1rem 0.5rem;
  color: var(--color-text-darkgrey);
}

.button:hover {
  background: var(--color-orange-deep);
}

.icon {
  font-size: 1.2rem;
  margin-left: 0.2rem;
  transition: transform 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 720px) {
  .project {
    max-width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .blogs {
    flex-direction: column;
  }
  .blog {
    max-width: 95%;
    margin-inline: auto;
  }
  .subText {
    flex-direction: column;
    gap: 0.5rem;
    font-size: 14px;
  }
  .desc {
    font-weight: normal;
    font-size: 15px;
  }
}
