@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

:root {
  --color-black-1: #262626;
  --color-black-2: #3b3b3b;
  --color-white-1: #fff;
  --color-orange: #e47e24;
  --color-orange-deep: #c45c20;
  /* --color-orange-deep: #f77002; */
  --color-orange-extradeep: #9a400c;
  --color-blue-1: #7e7ee9;
  --color-grey: #adbdc4;
  /* my color */
  --color-black: #010d14;
  --color-blue: #023047;
  --color-orange: #fb8500;
  --color-honey: #ffb703;
  --color-olive: #566e3d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 100%;
}
.wrapper {
  max-width: 1400px;
  width: 95%;
  margin-inline: auto;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

input::placeholder {
  overflow: visible;
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
   Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
   Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
