/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --color-black-1: #262626;
  --color-black-2: #3b3b3b;
  --color-white: #ffffff;
  --color-white-1: #f0f0f0;
  --color-orange: #e47e24;
  --color-orange-deep: #c45c20;
  --color-orange-extradeep: #9a400c;
  --color-blue-1: #7e7ee9;
  --color-grey: #adbdc4;
  /* my color */
  --color-blue: #3d6add;
  --color-black: #010d14;
  --color-darkblue: #023047;
  /* --color-orange: #fb8500; */
  --color-honey: #ffb703;
  --color-olive: #566e3d;
  --color-text-darkgrey: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Crimson Text", serif; */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  /* overflow-y: scroll; */
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  height: 100%;
}
.wrapper {
  max-width: 1400px;
  width: 95%;
  margin-inline: auto;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}

input::placeholder {
  overflow: visible;
}

html:focus-within {
  scroll-behavior: smooth;
}
/*
   Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
   Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
