.nav {
  background-color: #0a0a0af8;
  color: white;
  height: 67.2px;
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(12px);
  right: 0;
  z-index: 999;
  box-shadow: 0 3px 20px rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.blurNav {
  /* background-color: #0a0a0af8; */
  color: white;
  height: 67.2px;
  position: sticky;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  box-shadow: 0 3px 20px rgba(41, 41, 41, 0.11);
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  transition: all 0.4s ease-in-out;
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
}

.img {
  width: auto;
  height: 40px;
  margin-left: 2rem;
  filter: invert(1);
}
.img img {
  height: 45px;
}

.can {
  color: var(--color-orange-deep);
  font-weight: 500;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkWrapper {
  display: flex;
  gap: 44px;
  font-size: 0.9rem;
  align-items: center;
}

.contactBtn {
  border: none;
  color: #fff;
  background-color: var(--color-orange-deep);
  background-size: 100% auto;
  font-family: inherit;
  /* padding: 0.6em 1.5em; */
  margin: 0 20px;
  padding: 9px 24px;
  font-size: 1rem;
  border-radius: 30px;
}

@media (hover: hover) {
  .contactBtn:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
  }
}

@keyframes pulse512 {
  0% {
    box-shadow: 0 0 0 0 #9a400c;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
  }
}

.menu {
  display: none;
  font-size: 2.4rem;
  cursor: pointer;
  margin-bottom: -8px;
}

.sideMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-inline: 20px;
  font-size: 1.5rem;
  background-color: #363636be;
  backdrop-filter: blur(7px);
  position: fixed;
  top: 67.2px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  /* border-bottom: 2px solid var(--color-orange-deep); */
}

.mobilelogo {
  height: 150px;
  filter: invert(1);
}

@media screen and (max-width: 885px) {
  .menu {
    display: block;
  }
  .linkWrapper {
    display: none;
  }
  .contactBtn {
    margin-top: 25px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 500px) {
  .blurNav {
    background-color: rgba(245, 245, 245, 0.082);
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 20px rgba(41, 41, 41, 0.11);
  }
  .img {
    width: 40px;
    height: 40px;
    margin-left: 1rem;
    filter: invert(1);
  }
  .img img {
    height: 40px;
  }
  .logo {
    font-size: 1.8rem;
  }
  .sideMenu {
    gap: 25px;
    background-color: #4e4e4e8e;
    backdrop-filter: blur(20px);
  }
  .img {
    display: block;
  }
}
