.title {
  text-align: center;
  margin-block: 3rem;
}

.titleP {
  font-size: 1.1rem;
  color: var(--color-orange-deep);
}

.titleH2 {
  font-size: 2.25rem;
  font-weight: 500;
}

.titleH2::after {
  content: "";
  width: 9rem;
  height: 0.25rem;
  background-color: var(--color-orange-deep);
  display: block;
  margin-top: 0.4rem;
  margin-inline: auto;
}

.coursePara {
  margin-block: 2rem;
  margin-inline: auto;
  font-size: 1.1rem;
  max-width: 71vw;
  text-align: center;
  line-height: 25px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem 2rem;
  justify-content: center;
  margin-block: 0 3rem;
}

/* card */
.course {
  min-width: 350px;
  max-width: 28vw;
  background-color: rgb(255, 251, 240);
}

.courseName {
  font-size: 1.1rem;
  font-weight: 600;
  margin-block: 1rem;
}

.img {
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.button {
  cursor: pointer;
  font-weight: 500;
  font-family: Helvetica, "sans-serif";
  transition: all 0.2s;
  padding: 8px 18px;
  border-radius: 100px;
  background: white;
  border: 0.13rem solid var(--color-orange-deep);
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-block: 1rem 0.5rem;
  color: var(--color-orange-deep);
}

/* .button:hover {
  background: var(--color-orange-deep);
} */

.icon {
  font-size: 1.2rem;
  margin-left: 0.2rem;
  transition: transform 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translateX(5px);
}

.button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 1200px) {
  .course {
    min-width: 280px;
    max-width: 26vw;
    background-color: rgb(255, 251, 240);
  }
  .img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  .courses {
    gap: 2rem 4rem;
  }
  .course {
    max-width: 26vw;
    background-color: rgb(255, 251, 240);
  }
  .img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
}

@media screen and (max-width: 650px) {
  .titleH2 {
    font-size: 2rem;
    font-weight: 500;
  }
  .coursePara {
    margin-block: 2rem;
    margin-inline: auto;
    font-size: 1rem;
    max-width: 90vw;
    text-align: center;
    line-height: 25px;
  }
  .courses {
    gap: 3rem;
    margin-block: 1rem;
  }

  .course {
    min-width: 90vw;
    background-color: rgb(255, 251, 240);
  }
  .img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
}
