/* .clientCarousel {
  height: 12rem;
  background: rgb(228, 227, 227);
}

.carouselimg {
  height: 10rem;
  width: auto;
  object-fit: contain;
} */

.image_slider {
  display: flex;
  overflow: hidden;
  max-width: 30%;
  height: 200px;
}

.slide {
  flex: 0 0 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}
